<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="n" value="d"/>
  </appSettings>
  <connectionStrings>
    <add name="SentimentConnStr" connectionString="1538B38693DB56E42A9D504283DED0F9E71292E2F45046C21FB35DD20DD6F1C054F5B9334F09EB3719265227D59AAB216A044BFFF1346FD6" providerName="Oracle.DataAccess.Client"/>

  </connectionStrings>
</configuration>